@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
body {
  cursor: url("../cursors/pointer.cur"), auto;
}

a {
  cursor: url("../cursors/anchor.cur"), auto;
}

textarea, input {
  cursor: url("../cursors/text.cur"), auto;
}

h1, h2, h3 {
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 250px;
  color: white;
}
@media (max-width: 576px) {
  h1, h2, h3 {
    font-size: 100px;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  h1, h2, h3 {
    font-size: 165px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  h1, h2, h3 {
    text-align: center;
  }
}

.title {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  color: #F75049;
}
@media (max-width: 576px) {
  .title {
    font-size: 50px;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .title {
    font-size: 75px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    text-align: center;
  }
}

.text-big {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  word-spacing: -5px;
}
@media (max-width: 576px) {
  .text-big {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .text-big {
    font-size: 20px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .text-big {
    text-align: center;
  }
}

.text {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #F75049;
  line-height: 1.75;
  word-spacing: -2px;
}

#headerMenu {
  background-color: #FCEE0A;
}
#headerMenu #imageHeader {
  height: 100px;
}
@media (max-width: 576px) {
  #headerMenu #imageHeader {
    height: 50px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu #imageHeader {
    height: 75px;
  }
}
#headerMenu #navbarNav {
  justify-content: right;
  padding-right: 20px;
}
#headerMenu #navbarNav li {
  padding: 0 15px;
  list-style: none;
  display: inline;
  text-align: right;
}
#headerMenu #navbarNav li a {
  text-decoration: none;
  color: black;
}
#headerMenu #navbarNav li .text-menu {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
#headerMenu #navbarNav li .text-menu:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width: 576px) {
  #headerMenu #navbarNav li .text-menu {
    font-size: 20px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu #navbarNav li .text-menu {
    font-size: 20px;
  }
}
#headerMenu #navbarNav li .text-menu-drop {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: black;
}
#headerMenu #navbarNav li .text-menu-drop:hover {
  background-color: #00f0ff;
}
@media (max-width: 576px) {
  #headerMenu #navbarNav li .text-menu-drop {
    font-size: 20px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu #navbarNav li .text-menu-drop {
    font-size: 20px;
  }
}
#headerMenu #navbarNav li .dropdown-color {
  background-color: #FCEE0A;
  border: none;
}
@media (max-width: 576px) {
  #headerMenu #navbarNav li {
    padding-right: 5px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu #navbarNav li {
    padding-right: 5px;
  }
}
@media (max-width: 576px) {
  #headerMenu #navbarNav {
    padding-right: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu #navbarNav {
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  #headerMenu {
    padding-right: 10px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerMenu {
    padding-right: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #000012;
}

a {
  text-decoration: none;
  color: black;
}

.section-main {
  margin: 50px 0px;
}

.center {
  text-align: center;
}

.spacing {
  padding-top: 100px;
}

.razor {
  margin-top: 200px;
  height: 48px;
  background-image: url(../images/razor.svg);
  background-size: cover;
}

@media (max-width: 576px) {
  .button-go-up {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #000012;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #1bed82;
    margin: 0 0 -225px 25px;
    z-index: 1;
    position: sticky;
    bottom: 25px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .button-go-up {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #000012;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #1bed82;
    margin: 0 0 -225px 25px;
    z-index: 1;
    position: sticky;
    bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .button-go-up {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #000012;
    text-align: center;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #1bed82;
    margin: 0 0 -225px 25px;
    z-index: 1;
    position: sticky;
    bottom: 25px;
  }
}

#footer {
  padding: 25px 40px;
  background-color: #FCEE0A;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  color: black;
  word-spacing: -2px;
}
#footer .social-media {
  text-align: right;
  padding: 0;
}
#footer .social-media li {
  padding: 0 10px;
  list-style: none;
  display: inline;
}
#footer .social-media li img {
  height: 25px;
}
@media (max-width: 576px) {
  #footer .social-media li img {
    margin-top: 25px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #footer .social-media li img {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #footer .social-media li img {
    margin-top: 25px;
  }
}
@media (max-width: 576px) {
  #footer .social-media {
    margin-top: 25px;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #footer .social-media {
    margin-top: 25px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #footer .social-media {
    margin-top: 25px;
    text-align: center;
  }
}

.border-top-yellow {
  border-top: 2px solid #FCEE0A;
  margin-top: 50px;
  padding-top: 50px;
}

.border-top-cyan {
  border-top: 2px solid #00f0ff;
  margin-top: 50px;
  padding-top: 50px;
}

.border-top-red {
  border-top: 2px solid #F75049;
  margin-top: 50px;
  padding-top: 50px;
}

.border-top-green {
  border-top: 2px solid #1bed82;
  margin-top: 50px;
  padding-top: 50px;
}

.border-top-bk {
  border-top: 2px solid #000012;
  margin-top: 50px;
  padding-top: 50px;
}

.border-top-wh {
  border-top: 2px solid white;
  margin-top: 50px;
  padding-top: 50px;
}

.border-bottom-yellow {
  border-bottom: 2px solid #FCEE0A;
  margin-bottom: 50px;
}

.border-bottom-cyan {
  border-bottom: 2px solid #00f0ff;
  margin-bottom: 50px;
}

.border-bottom-red {
  border-bottom: 2px solid #F75049;
  margin-bottom: 50px;
}

.border-bottom-green {
  border-bottom: 2px solid #1bed82;
  margin-bottom: 50px;
}

.border-bottom-bk {
  border-bottom: 2px solid #000012;
  margin-bottom: 50px;
}

.border-bottom-wh {
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}

#imageHeaderBig {
  width: 100%;
}

#intro {
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 0px 50px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #FCEE0A;
  word-spacing: -5px;
}
#intro img {
  width: 75%;
}
#intro h1 {
  color: #FCEE0A;
}
@media (max-width: 576px) {
  #intro {
    font-size: 16px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #intro {
    font-size: 25px;
  }
}

.text-big-home {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #1bed82;
  word-spacing: -5px;
}
@media (max-width: 576px) {
  .text-big-home {
    font-size: 16px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .text-big-home {
    font-size: 25px;
  }
}

.img-home {
  overflow: hidden;
}
.img-home img {
  width: 90%;
  box-shadow: 13px 13px 0px 1px #1bed82;
}
.img-home .title {
  color: #1bed82;
}

.text-form {
  margin: 20px 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  word-spacing: -2px;
}
@media (max-width: 576px) {
  .text-form {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .text-form {
    font-size: 20px;
    text-align: center;
  }
}

.text-form-button {
  margin: 20px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: white;
  background-color: #F75049;
  display: block;
}

input, textarea {
  background-color: #000012;
  border: 2px solid #F75049;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

input {
  height: 60px;
  width: 100%;
}

textarea {
  height: 270px;
  width: 100%;
}

.form-p {
  padding: 0 52px;
}

@media (max-width: 576px) {
  .contact-mb {
    margin-bottom: 325px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .contact-mb {
    margin-bottom: 325px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-mb {
    margin-bottom: 700px;
  }
}

.contact-img-pos {
  position: relative;
}
.contact-img-pos .contact-img {
  position: absolute;
  display: block;
  margin: auto;
  width: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.razor-index {
  margin-top: 75px;
  height: 48px;
  background-image: url(../images/razor.svg);
  background-size: cover;
}

.button-go-up--index {
  margin-bottom: -100px;
}

#headerNightCity {
  padding: 50px 0;
  background-image: url(../images/nightcity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#headerNightCity .text-link {
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  #headerNightCity .text-link {
    font-size: 30px;
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerNightCity .text-link {
    font-size: 37px;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #headerNightCity .text-link {
    display: block;
  }
}
#headerNightCity ul {
  padding: 0;
  margin: 0;
}
#headerNightCity ul li {
  list-style: none;
  display: inline;
}
#headerNightCity ul li p {
  margin: 0 25px;
}
#headerNightCity ul li:not(:first-child):not(:last-child)::after {
  content: "-";
  margin: 0 25px;
}
@media (max-width: 576px) {
  #headerNightCity ul li:not(:first-child):not(:last-child)::after {
    content: "";
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerNightCity ul li:not(:first-child):not(:last-child)::after {
    content: "";
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #headerNightCity ul li:not(:first-child):not(:last-child)::after {
    content: "";
  }
}
@media (max-width: 576px) {
  #headerNightCity {
    margin-bottom: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #headerNightCity {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #headerNightCity {
    margin-bottom: 0;
  }
}

.city-img {
  padding: 0;
}

.cities {
  overflow: hidden;
}
@media (max-width: 576px) {
  .cities div {
    padding: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .cities div {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cities div {
    padding: 0;
  }
}
.cities img {
  width: 100%;
  margin-bottom: 30px;
  align-self: flex-end;
}

#headerLifepaths {
  padding: 50px 0;
  background-image: url(../images/lifepaths.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lifepaths img {
  width: 100%;
  margin: 50px 0;
}
.lifepaths img:hover {
  filter: drop-shadow(0 0 0.75rem #00f0ff);
}

#headerGangs {
  padding: 50px 0;
  background-image: url(../images/gangs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.gangs-content nav {
  padding-right: 40px;
  text-align: right;
  position: sticky;
  top: 60px;
}
.gangs-content nav ul {
  margin-top: 100px;
}
.gangs-content nav ul li {
  margin-bottom: 25px;
}
.gangs-content nav ul li .text-gangs-menu {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  color: #00f0ff;
  list-style: none;
}
.gangs-content nav ul li .active {
  color: #1bed82;
  text-shadow: 0 0 10px #1bed82;
}
@media (max-width: 576px) {
  .gangs-content nav ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .gangs-content nav ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gangs-content nav ul {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .gangs-content nav {
    width: 100%;
    text-align: center;
    padding-right: 0;
    border-bottom: 2px solid #00f0ff;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .gangs-content nav {
    width: 100%;
    text-align: center;
    padding-right: 0;
    border-bottom: 2px solid #00f0ff;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gangs-content nav {
    width: 100%;
    text-align: center;
    padding-right: 0;
    border-bottom: 2px solid #00f0ff;
  }
}
.gangs-content .first-spacing {
  margin-top: 40px;
}
@media (max-width: 576px) {
  .gangs-content .first-spacing {
    margin-top: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .gangs-content .first-spacing {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gangs-content .first-spacing {
    margin-top: 0;
  }
}
.gangs-content .title {
  padding-top: 50px;
}
.gangs-content div {
  padding-top: 0;
}
.gangs-content img {
  width: 90%;
  margin-bottom: 40px;
  border: 2px solid #F75049;
  padding: 15px;
}
.gangs-content .border-nav {
  border-right: 2px solid #00f0ff;
}
@media (max-width: 576px) {
  .gangs-content .border-nav {
    border: 0;
    padding: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .gangs-content .border-nav {
    border: 0;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gangs-content .border-nav {
    border: 0;
    padding: 0;
  }
}

#media {
  margin-top: 50px;
}
#media img {
  width: 100%;
  align-self: flex-end;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #media img {
    width: 90%;
  }
}

#carouselScreens {
  width: 90%;
  margin: auto;
  border: 2px solid #F75049;
  padding: 10px;
}

#videos iframe {
  width: 100%;
  height: 315px;
}
@media (max-width: 576px) {
  #videos iframe {
    width: 90%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #videos iframe {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #videos iframe {
    width: 90%;
  }
}

#music iframe {
  width: 100%;
  height: 500px;
}
@media (max-width: 576px) {
  #music iframe {
    width: 90%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #music iframe {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #music iframe {
    width: 90%;
  }
}
#music img {
  margin-left: 40px;
  width: 100%;
  -webkit-mask-box-image: url(../images/samurai.png);
}
@media (max-width: 576px) {
  #music img {
    margin-top: 10px;
    margin-left: 0;
    width: 80%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #music img {
    margin-top: 10px;
    margin-left: 0;
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #music img {
    margin-top: 10px;
    margin-left: 0;
    width: 80%;
  }
}

iframe {
  border: 2px solid #F75049;
  padding: 10px;
}

/*# sourceMappingURL=app.css.map */
