*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{    
    overflow-x: hidden
}

#imageHeaderBig{
    width: 100%;
}

#imageHeader{
    height: 100px;
}

#headerMenu
{
    background-color: #FCEE0A;    
    padding-top: 5px;
    padding-right: 50px; 
    padding-bottom: 5px;
    padding-left: 10px;  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerNightCity{
    padding-top: 50px;
    padding-bottom: 60px;

    background-image: url(../images/nightcity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{   
    background-color: #000012;   
}

#intro{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0px 50px;

    font-family: "Roboto Mono", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color:#FCEE0A;
}

#intro img{
    width: 75%;
}

#footer{        
    margin-top: 100px;
    padding-left: 40px;  
    padding-right: 40px; 
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FCEE0A;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    color: black;
}

.text-menu{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.text-menu:hover{
    color: black;
    text-decoration: underline;
}

.text-menu-drop{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: black;
}

.text-menu-drop:hover{
    background-color: #00f0ff;
}

.dropdown-color{
    background-color: #FCEE0A;
    border: none;
    padding-left: 10px;
}

.title-main{
    margin-right: 40px;
    margin-left: 40px;
    
    font-family: "Bebas Neue", sans-serif;
    font-size: 250px;
    color: white;
}

.title{      
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    color: #F75049;   
}

.text-big{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.text-big-home{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #F75049  
}

.text{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F75049;
    
    line-height: 1.75;
}

.text-form{   
    margin: 20px 40px;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;   
}

.text-form-button{   
    margin: 20px 40px;

    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: white;
    
    background-color: #922E2C;
    display: block;
}

input, textarea{
    background-color: #000012;
    border:2px solid #F75049;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

input{
    height: 60px;
    width: 75%;    
}

textarea{
    height: 270px;
    width: 75%;
}

header li{
    padding:0px 5px;
    list-style: none;
    display: inline;
}

iframe{
    border:2px solid #F75049;
    padding: 10px;
}

#videos iframe{
    width: 100%;
    height: 315px;
}

#music iframe{
    width: 100%;
    height: 465px;
}

a{
    text-decoration: none;
    color: black;
}

.center{
    text-align: center;
}

.home-menu{
    margin-bottom: 100px;
}

.home-menu li{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    
    background-color: #00f0ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-left: 30px;

    display: inline-block;
}

.home-menu li:hover{
    background-color: #FCEE0A;
}

.text-link{
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    color: white;
    text-decoration: none;
}

.guion li{
    list-style: none;
    display: inline;
}

.guion li:not(:first-child):not(:last-child)::after{  
    content: "-";
    margin: 0px 25px;
}

.guion li p{
    display: inline;
    margin-right: 25px;
}

.img-home img{
    width: 90%;
    align-self: flex-end;

    border:2px solid #00f0ff;
    padding: 10px;
}

.cities img{
    width: 100%;
    margin-bottom: 30px;
    align-self: flex-end;
}

.section-main{
    margin: 50px 0px;
}

#media{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#media img{
    width: 100%;
    align-self: flex-end;
}

.media-img{
    width: 560px;
    border:2px solid #F75049;
    padding: 10px;
    margin-left: 40px;
}

.lifepaths img{
    width: 100%;
    margin: 50px 0;
}

.lifepaths img:hover{
    filter: drop-shadow(0 0 0.75rem #00f0ff);
}

.gangs-content{
    margin-top: 100px;
    
    display: flex;
    flex-flow: row;
}

.gangs-content nav{
    margin-left: 40px;
    width: 500px;
   
    padding-right: 40px;
    border-right: 2px solid #00f0ff;
    text-align: right;
}

.gangs-content ul{
    position: sticky;
    top: 40px;
}

.gangs-content li{
    margin-bottom: 25px;
}

.text-gangs-menu{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #00f0ff;
    list-style: none;
}

.gangs img{
    width: 90%;
    margin-bottom: 40px;
    border: 2px solid #F75049;
    padding: 15px;
}

.border-up{
    border-top: 2px solid #00f0ff;
    margin-top: 50px;
    padding-top: 25px;    
}

.border-bottom{
    border-bottom: 2px solid #00f0ff;
    margin-bottom: 50px;
}

.border-up h3{
    padding-top: 100px;
}

#carouselScreens{
    width: 90%;
    margin: auto;

    border:2px solid #F75049;
    padding: 10px;
}

#navbarNav{
    text-align: right;
}

@media(max-width:576px){

    .title-main{
        font-size: 100px;
    }    

    .title{      
        font-size: 50px;
    }

    .text-big, .text-form, #intro, .text-big-home{
        font-size: 16px;
    }

    .text-link{
        font-size: 30px;
        display: block;
    }

    .title-main, .title, .text-big{
        text-align: center;
    }

    .guion li p, .guion li:not(:first-child):not(:last-child)::after{  
        content: "";
        margin: 0;
    }

    #imageHeader{
        height: 50px;
        align-self: flex-start;
    }

    .text-menu, .text-menu-drop{
        font-size: 20px;
    }

    #headerMenu{
    padding-right: 20px;
    }

}

@media(min-width:577px) and (max-width:768px){

    .title-main{
        font-size: 165px;
    }    

    .title{      
        font-size: 75px;
    }

    .text-big, .text-form{
        font-size: 20px;
    }

    .text-link{
        font-size: 37px;
        display: block;
    }

    .title-main, .title, .text-big{
        text-align: center;
    }

    .guion li p, .guion li:not(:first-child):not(:last-child)::after{  
        content: "";
        margin: 0;
    }

    #imageHeader{
        height: 75px;
    }

    .text-menu, .text-menu-drop{
        font-size: 20px;
    }

    #headerMenu{
        padding-right: 20px;
    }

    #intro, .text-big-home{
        font-size: 25px;
    }
}

@media(max-width:1024px){

    .title-main,.title,.text-big{
        text-align: center;
    }
    
    #media img, #videos iframe, #music iframe{        
        width: 90%;
    }

    .text-link{
        display: block;
    }

    .guion li p, .guion li:not(:first-child):not(:last-child)::after{  
        content: "";
        margin: 0;
    }
}