#headerLifepaths{
    padding: 50px 0;
    background-image: url(../images/lifepaths.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lifepaths img{
    width: 100%;
    margin: 50px 0;
    &:hover{
        filter: drop-shadow(0 0 0.75rem $color-cyan);
    }
}