#media{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    img{
        width: 100%;
        align-self: flex-end;
        @include mediaquery-tablet(){
            width: 90%;
        }   
    }
}

#carouselScreens{
    width: 90%;
    margin: auto;

    border:2px solid $color-red;
    padding: 10px;
}

#videos iframe{
    width: 100%;
    height: 315px;
    @include mediaquery-tablet(){
        width: 90%;
    }   
}

#music iframe{
    width: 100%;
    height: 465px;
    @include mediaquery-tablet(){
        width: 90%;
    }   
}

iframe{
    border:2px solid $color-red;
    padding: 10px;
}