#headerNightCity{
    padding: 50px 0;
    background-image: url(../images/nightcity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .text-link{
        font-family: "Bebas Neue", sans-serif;
        font-size: 45px;
        color: white;
        text-decoration: none;
        @include mediaquery-mobile(){
            font-size: 30px;
            display: block;
        }
        @include mediaquery-mobile-large(){
            font-size: 37px;
            display: block;
        }
        @include mediaquery-tablet(){
            display: block;
        }
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            display: inline;
            p{
                margin: 0 25px;
            }
            &:not(:first-child):not(:last-child)::after{  
                content: "-";
                margin: 0 25px;
                @include mediaquery-mobile(){
                    content: "";
                }
                @include mediaquery-mobile-large(){
                    content: "";
                }
                @include mediaquery-tablet(){
                    content: "";
                }
            }
        }
    }
    @include mediaquery-mobile(){
        margin-bottom: 0;
    }
    @include mediaquery-mobile-large(){
        margin-bottom: 0;
    }
    @include mediaquery-tablet(){
        margin-bottom: 0;
    }
}

.city-img{
    padding: 0;
}

.cities{
    overflow: hidden;
    div{
        @include mediaquery-mobile(){
            padding: 0;
        }
        @include mediaquery-mobile-large(){
            padding: 0;
        }
        @include mediaquery-tablet(){
            padding: 0;
        }
    }
    img{
        width: 100%;
        margin-bottom: 30px;
        align-self: flex-end;
    }
}