#headerNightCity{
    padding-top: 50px;
    padding-bottom: 60px;

    background-image: url(../images/nightcity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .text-link{
        font-family: "Bebas Neue", sans-serif;
        font-size: 45px;
        color: white;
        text-decoration: none;
    
        @include mediaquery-mobile(){
            font-size: 30px;
            display: block;
        }
        @include mediaquery-mobile-large(){
            font-size: 37px;
            display: block;
        }
        @include mediaquery-tablet(){
            display: block;
        }
    }
    
    li{
        list-style: none;
        display: inline;

        p{
            display: inline;
            margin-right: 25px;
        }
    
        @include mediaquery-mobile(){
            content: "";
            margin: 0;
        }
        @include mediaquery-mobile-large(){
            content: "";
            margin: 0;
        }
        @include mediaquery-tablet(){
            content: "";
            margin: 0;
        }

        &:not(:first-child):not(:last-child)::after{  
            content: "-";
            margin: 0px 25px;
            @include mediaquery-tablet(){
                content: "";
                margin: 0;
            }
        }
    }
}

.cities{
    overflow: hidden;
    div{
        padding: 0;
    }    
    img{
        width: 100%;
        margin-bottom: 30px;
        align-self: flex-end;
    }
}