#footer{        
    margin-top: 100px;
    padding-left: 40px;  
    padding-right: 40px; 
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $color-yellow;
    
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    color: black;
}