#headerMenu
{
    background-color: $color-yellow;
    #imageHeader{
        height: 100px;
        @include mediaquery-mobile(){
            height: 50px;
        }
        @include mediaquery-mobile-large(){
            height: 75px;
        } 
    }
    #navbarNav{
        justify-content: right;
        padding-right: 20px;
        li{
            padding: 0 15px;
            list-style: none;
            display: inline;
            text-align: right;
            a{
                text-decoration: none;
                color: black;
            }
            .text-menu{           
                font-family: "Bebas Neue", sans-serif;
                font-size: 25px;
                color: black;
                text-decoration: none;
                &:hover{
                    color: black;
                    text-decoration: underline;
                }
                @include mediaquery-mobile(){
                    font-size: 20px;
                }
                @include mediaquery-mobile-large(){
                    font-size: 20px;
                } 
            }
            .text-menu-drop{
                font-family: "Bebas Neue", sans-serif;
                font-size: 25px;
                color: black; 
                &:hover{
                    background-color: $color-cyan;
                }
                @include mediaquery-mobile(){
                    font-size: 20px;
                }
                @include mediaquery-mobile-large(){
                    font-size: 20px;
                }
            }      
            .dropdown-color{
                background-color: $color-yellow;
                border: none;
            }
            @include mediaquery-mobile(){
                padding-right: 5px;
            } 
            @include mediaquery-mobile-large(){
                padding-right: 5px;
            }
        }
        @include mediaquery-mobile(){
            padding-right: 0;
        } 
        @include mediaquery-mobile-large(){
            padding-right: 0;
        }
    }
    @include mediaquery-mobile(){
        padding-right: 10px;
    } 
    @include mediaquery-mobile-large(){
        padding-right: 10px;
    }
}