$color-yellow:#FCEE0A;
$color-cyan:#00f0ff;
$color-red:#F75049;
$color-green:#1bed82;
$color-bk:#000012;
$color-wh:white;

$colors:(
    yellow:$color-yellow,
    cyan:$color-cyan,
    red:$color-red,
    green:$color-green,
    bk:$color-bk,
    wh:$color-wh
);